.nav-list {
    position: fixed;       /*lo fija en pantalla */
    top: 0;                /*lo posiciona arriba del todo */
    left: 0;               /*lo alinea a la izquierda */
    width: 100%;           /*que ocupe todo el ancho */
    z-index: 1000;         /*para que quede por encima de otros elementos */
    display: flex;
    justify-content: center;
    background-color: #2c3e50;
    padding: 10px 0;
    margin: 0;
    list-style: none;
}

/* Estilo para los elementos individuales */
.nav-item {
    cursor: pointer;
    margin: 0 15px; /* Espaciado entre los elementos */
}

/* Estilo para los enlaces */
.nav-item a {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Texto en blanco */
    font-size: 1.2rem; /* Tamaño del texto */
    transition: color 0.3s ease; /* Animación suave */
}

/* Cambia el color al pasar el cursor */
.nav-item a:hover {
    color: #1abc9c; /* Verde llamativo */
}

.nombrePagina {
    font-size: 2rem;
    color: #fffd7b;
    margin: 0;
    font-weight: bold;
    margin-right: 200px;
    animation: shine 2s infinite;
}

/* Diseño responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column; /* Coloca los elementos en columna */
        align-items: center; /* Centra los elementos verticalmente */
    }

    .nav-item {
        margin: 10px 0; /* Espaciado entre los elementos */
    }
}
